@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


body, html {
    font-family: 'Roboto', sans-serif;;
    color: white;
    background-color: #2B2828;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    color: white;
    text-decoration: none;
  }

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#btnGroupAddon{
    background-color: #FF8400;
}

.banner{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 10px;
}

#carrossel {
    width: 1130px;
}

.cards {
    width: 1130px;
}
.card{
    background: none;
    border: none;
}
