body, html {
    background-color: #2B2828;
}

.banner{
    width: 375px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#carouselExampleControls {
    width: 350px;
    height: 400px;
}

.box{
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
